/* src/App.css */
.login-btn {
  background: linear-gradient(90deg, #3b82f6, #8b5cf6);
  color: white !important;

  padding: 10px 20px;
  border-radius: 30px;

  font-weight: bold;
  box-shadow: 0 4px 15px rgba(0,0,0,0.2);
}

.login-btn:hover {
  transform: scale(1.05);
  box-shadow: 0 6px 20px rgba(0,0,0,0.3);
}